In [1]:
import pandas as pd

In [2]:
# Loading Books Rating data into jupyter

df = pd.read_csv("C:/Users/nimee/Bigdata/book_recommendations.csv")

In [3]:
df.shape

(66487, 3)

In [4]:
df.head()

,Id,Title,Recommended_Titles
0,0001052934,Regeneration,"['Regeneration 5: Kill (Regeneration)', 'ReGen..."
1,0001472879,Hebrew-Scholarly Bible,"['The early church, (Knowing Christianity)', '..."
2,0001474103,The Spirit World,['Spirit World']
3,0001720104,Mr. Plod and the Stolen Bicycle (Toy Town Stor...,"['A Christmas Card for Mr. Mcfizz', 'Mr. Glenc..."
4,0002155451,A Sparrow's Flight: The Memoirs of Lord Hailsh...,"['Memoirs of a Cavalier', 'The Norman Pretende..."

In [6]:
df["Recommended_Titles"].head()

0    ['Regeneration 5: Kill (Regeneration)', 'ReGen...
1    ['The early church, (Knowing Christianity)', '...
2                                     ['Spirit World']
3    ['A Christmas Card for Mr. Mcfizz', 'Mr. Glenc...
4    ['Memoirs of a Cavalier', 'The Norman Pretende...
Name: Recommended_Titles, dtype: object

In [7]:
import pickle
# Save as .pkl file
with open("Content_model.pkl", "wb") as f:
    pickle.dump(df, f)